<div class="container">
  <div class="row">
    <div class="col-sm-2 bg-success">
      <p>RED DE SALUD</p>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">PUNO </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">PUNO</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">PUNO</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">SAN ROMAN</a>

    </div>
    <div class="col-sm-4 bg-success">
      <p>NOMBRE Y APELLIDOS DE LA AUTORIDAD</p>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
        Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
          Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
            Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
              Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                  Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                    Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                      Dr. Arturo Tapia Chávez</a>
                      <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                        Dr. Arturo Tapia Chávez</a>  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
                          Dr. Arturo Tapia Chávez</a>
    </div>
    <div class="col-sm-2 bg-success">
      <p>CARGO</p>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">DIRECTOR</a>

    </div>
    <div class="col-sm-2 bg-warning">
      <p>TELÉFONO</p>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
   
    </div>
    

  <div class="col-sm-2 bg-success">
    <p>CARGO</p>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>

    <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
    
    
  </div>
  </div>
</div>



<div class="list-group">
<ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">personal a tu cervicio</a></li>
  <li class="breadcrumb-item"><a href="#">pasientes atendidos en un año</a></li>
  <li class="breadcrumb-item"><a href="#">centros de SALUD</a></li>
  <li class="breadcrumb-item active">MAS iNFORMACION</li>
</ul>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">	
    Dr. Arturo Tapia Chávez</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">369368</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">369368</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Dr. Arturo Tapia Chávez</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Dr. Arturo Tapia Chávez</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Primary item</a>
