<h1>Ubicación DIRESA PUNO</h1>
<hr>
<div  class="row">
        <div  class="col-sm-9">
                <p style="background-color: bisque">
                        La Región de Salud Puno su ámbito de acción es todo el Departamento de Puno 
                        que a la vez hace la Región Puno. La Región de Salud de Puno, cuyo ámbito de
                         trabajo está compuesto por 13 provincias y 109 distritos, con una población
                          total de 1’338,163 habitantes (2009), de los cuales tenemos que el 57.7% de
                           dicha población es rural y el 42.3% urbana, con habla de lengua materna 
                           quechua de 43%, Aymará 33% y Castellano 23 %.
                           
                                    
                    
                    </p>
                    <img style="width:100%; height:auto;"class="img-fluid" src="../../assets/ubi.jpg" alt="Chicago">

      </div>
      
      <div class="col-sm-3">
            <h1>campañas</h1>

            <img style="width:100%; height:auto;"class="img-fluid" src="../../assets/1.jpg" alt="Chicago">
            <img style="width:100%; height:auto;"class="img-fluid" src="../../assets/2.jpg" alt="Chicago">
            <img style="width:100%; height:auto;"class="img-fluid" src="../../assets/3.jpg" alt="Chicago">
            <img style="width:100%; height:auto;"class="img-fluid" src="../../assets/4.jpg" alt="Chicago">


            <div class="row"><div class="col box-right"><div class="box-right-h"><p></p></div><div class="box-right-b"><div class="mv-r"><iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdiresapuno.gob.pe%2Fvideos%2F214471082492841%2F&amp;show_text=0&amp;width=560" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe></div></div></div><div class="col box-cont"><p><a href="/documentos/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/ico_pg01.png" alt="" /></a></p>
                <p><a href="http://www.sanciones.gob.pe:8081/transparencia/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/300X50-TRASPA.png" alt="" /></a></p>
                <p class="ta-c"><a href="http://diresapuno.gob.pe:2095/"><img class="img-r" src="/web/uploads/descarga.jpg" alt="" /></a></p>
                <p><a href="/noticias/comunicados/convocatorias-cronograma-proceso-serums-2018-1-diresa-puno.html"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/SERUMS.png" alt="" /></a></p></div><div class="col box-right"><div class="box-right-h"><p>Redes Sociales</p></div><div class="box-right-b"><div class="fb-page" data-href="https://www.facebook.com/diresapuno.gob.pe/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/diresapuno.gob.pe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/diresapuno.gob.pe/">DIRESA PUNO</a></blockquote></div><div id="fb-root"></div>

                </div>
                
        </div>
      </div>





</div>


