
<h1>HISTORIA</h1>
<hr>
<h3>HISTORIA DEL MINISTERIO DE SALUD DEL PERU</h3>

        <div class="row">
                <div class="col-sm-9">
                        <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/nt.jpg" alt="Chicago">
/> <p>
                                Al conmemorarse el 50 Aniversario del fallecimiento del mártir de la medicina 
                                peruana Daniel A. Carrión, el 5 de octubre de 1935, fue promulgado el D.L. 8124 
                                creando el Ministerio de Salud Pública, Trabajo y Previsión Social, en el cual s
                                e integraron la antigua Dirección de Salubridad Pública, las Secciones de Traba
                                jo y Previsión Social, así como la de Asuntos Indígenas del Ministerio de Fomento;
                                 confiriéndosele además las atribuciones del Departamento de Beneficencia del
                                  Ministerio de Justicia.
                                
                                En 1942, adopta el nombre de Ministerio de Salud Pública y Asistencia Social, 
                                y en 1968, la denominación que mantiene hasta la actualidad: Ministerio de Salud.
                                
                                El primer titular de Salud fue el Dr. Armalnando Montesori del Peralta.
                                
                                 
                                
                                Misión
                                El Ministerio de Salud tiene la misión de proteger la dignidad personal, promoviendo
                                 la salud, previniendo las enfermedades y garantizando la atención integral de salud 
                                 de todos los habitantes del país; proponiendo y conduciendo los lineamientos de
                                  políticas sanitarias en concertación con todos los sectores públicos y los actores 
                                  sociales. La persona es el centro de nuestra misión, a la cual nos dedicamos con 
                                  respeto a la vida y a los derechos fundamentales de todos los peruanos, desde 
                                  antes de su nacimiento y respetando el curso natural de su vida, contribuyendo 
                                  a la gran tarea nacional de lograr el desarrollo de todos nuestros ciudadanos. 
                                  Los trabajadores del Sector Salud somos agentes de cambio en constante superación
                                   para lograr el máximo bienestar de las personas.
                                 
                            
                                
                                Lema del Ministerio   "PERSONAS QUE ATENDEMOS  PERSONAS"
                                 
                                
                                HISTORIA FUNCIONAL Y MEDICA DE LA REGIÓN DE SALUD PUNO:
                                El 5 de Octubre de l935, se promulgo el Decreto Ley Nº 8124, que crea el 
                                “ Ministerio de Salud Pública, Trabajo y Previsión Social ”.- en el año 
                                de 1942 adopta el nombre de “ Ministerio de Salud y Asistencia Social “,
                                 y en 1968, la denominación que mantiene hasta la actualidad, el de “ 
                                 Ministerio de Salud ”. Una rápida revisión a las décadas nos lleva a 
                                 concluir, que en 1925 el Sanitarista Dr. Manuel Núñez Butrón , Médico
                                  Puneño animado por una concepción nueva y por el amor a su tierra natal 
                                  inicia una experiencia con resultados altamente positivos, pero no 
                                  debidamente interpretados, ni apreciados por las esferas gubernamentales 
                                  de esa época, capacito personal voluntario de la propia comunidad, a los
                                   que llamo “ Rijchary “, se les preparó en aspectos de educación sanitaria,
                                    en cuanto a higiene personal, familiar y comunal, iniciando de esta manera
                                     en el Sur altiplanito el Programa de extensión de cobertura de los servicios
                                      de salud, a través de la ATENCION PRIMARIA DE LA SALUD , reconocido este 
                                      programa a nivel Mundial .
                                
                            
                                Por las necesidades alternas de la población Puneña, se apertura el ” 
                                Centro Materno Infantil ” por los años ’60 el que funcionaba en el Jr. 
                                Tarapacá, trasladándose después por los años ’70, al Jr, Lima adquiriendo 
                                el nombre de ” Unidad Sanitaria “,luego ” Área de Salud “,posteriormente ” 
                                Zona de Salud “, trasladándose con esta denominación a la nueva construcción
                                 de las Oficinas Administrativas del Jr. José Antonio Encinas Nº 145, llevand
                                 o esta denominación en la placa que como testimonio queda en los muros de la 
                                 parte de ingreso principal a la Institución, compartiendo dicho edificio conj
                                 untamente con el Hospital que se le denomina con el nombre de “Manuel Núñez 
                                 Butrón” hoy Hospital Regional, Órgano desconcentrado de la RED de Salud Puno.
                                
                            
                                Con el Decreto Ley Nº 20733 del 17 de Setiembre de l974, se crea las Regiones
                                 de Salud, sobre las bases de los distintos servicios que venían funcionando 
                                 a esa fecha, adquiriendo el nombre de “Región de Salud Sur Altiplanica” , 
                                 posteriormente por Resolución Ministerial Nº 0012-82-SA/DVM, del 27 de Enero
                                  de 1982, establecen los ámbitos administrativos y las sedes de las Direcciones 
                                  Regionales del Ministerio de Salud, constituyéndose la segunda instancia 
                                  administrativa bajo la dependencia directa del Ministerio de salud, para 
                                  lo que se integro con el nombre de ” Décima Región de Salud de Puno ” de
                                   las dependencias del ORDEPUNO , según lo dispuesto en el Decreto 
                                   Legislativo Nº 070, Decreto Supremo Nº 020 y demás dispositivos 
                                   complementarios, que dio lugar a la nueva organización del Sector
                                    en el nivel Regional.
                                
                                Posteriormente, y acorde con las necesidades prioritarias del Sector a nivel
                                 Nacional y con sus Lineamientos de Políticas de Salud, se denominan ”
                                  Sub Región de Salud – ORDEPUNO “, luego fue cambiado por el de 
                                  “Unidad Departamental” (UDES), y en forma inopinada y por disposición 
                                  del Nivel Central las UDES se desactivan y queda como ” Coordinación 
                                  de Salud “, y a su vez se crean las Áreas Hospitalarias correspondiéndole
                                   a la Ciudad de Puno el “Área Hospitalaria Nº 56”, retomando luego el 
                                   nombre de ” Sub Región de Salud – Puno ” y hoy en día “Dirección Regional
                                    de Salud Puno ” dependiendo Técnica y Funcionalmente del
                                Ministerio de Salud y Administrativamente del entonces Comité Transitorio
                                 de Administración Regional (CTAR), Hoy en día conforme a la Ley Ley Nº 
                                 27867, Ley Orgánica de Gobiernos Regionales. (Gobierno Regional-PUNO), 
                                 con su Presidente Regional el DR. JUAN LUQUE MAMANI.
                            </p>
                            

                </div>
                <div class="col-sm-3">
                        <h1>campañas</h1>
    
    
    
                        <div class="card-body">
                                <h4 class="card-title">Noticias</h4>
                                <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/nt.jpg" alt="Chicago">
            
                                <p class="card-text">diresa-puno. Equipo de diresa-puno se reunio para ayudar...</p>
                                <a href="#" class="card-link">revisar la noticia</a>
                                <a href="#" class="card-link">ver mas noticias </a>
                              </div>
                              <div class="card">
                                    <div class="card-body">
                                      <h4 class="card-title">Las recorridas</h4>
                                      <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/nt1.jpg" alt="Chicago">
                          
                                      <p class="card-text">
                                        Lorem ipsum dolor sit 
                                        amet consectetur adipisicing elit. 
                                        Aperiam dolor
                                        </p>
                                      <a href="#" class="card-link">revisar la noticia</a>
                                      <a href="#" class="card-link">ver mas noticias</a>
                                    </div>
                                  </div>
                        <div class="row"><div class="col box-right"><div class="box-right-h"><p>Campaña</p></div><div class="box-right-b"><div class="mv-r"><iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdiresapuno.gob.pe%2Fvideos%2F214471082492841%2F&amp;show_text=0&amp;width=560" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe></div></div></div><div class="col box-cont"><p><a href="/documentos/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/ico_pg01.png" alt="" /></a></p>
                            <p><a href="http://www.sanciones.gob.pe:8081/transparencia/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/300X50-TRASPA.png" alt="" /></a></p>
                            <p class="ta-c"><a href="http://diresapuno.gob.pe:2095/"><img class="img-r" src="/web/uploads/descarga.jpg" alt="" /></a></p>
                            <p><a href="/noticias/comunicados/convocatorias-cronograma-proceso-serums-2018-1-diresa-puno.html"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/SERUMS.png" alt="" /></a></p></div><div class="col box-right"><div class="box-right-h"><p>Redes Sociales</p></div><div class="box-right-b"><div class="fb-page" data-href="https://www.facebook.com/diresapuno.gob.pe/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/diresapuno.gob.pe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/diresapuno.gob.pe/">DIRESA PUNO</a></blockquote></div><div id="fb-root"></div>
    
                            </div>
                            
                    </div>
                  </div>
    
    
    
    
    
    </div>
             