

<hr>
<br>
<div class="container">
        <div class="row">
                <div class="col-sm-9">
                    <h1>opjetivos</h1>
                    <hr>
                        <h2 style="background-color: aquamarine">La Dirección Regional de Salud Puno, directamente o a través de las entidades competentes 
                                deberá lograr los siguientes objetivos funcionales en
                                 la jurisdicción de la Región Puno:</h2>
                                 <p style="color:#FF5733">
                                        1:Lograr que se cumpla la política, visión, misión, objetivos y normas nacionales de salud.
                                        2:Regular complementariamente, en materia de salud y evaluar el cumplimiento de las  normas de salud por las entidades públicas y privadas en su jurisdicción.
                                        3:Proponer las políticas, objetivos, metas y estrategias nacionales y regionales de salud a la Alta Dirección del Ministerio de Salud y al Gobierno Regional.
                                        4:Brindar en forma eficaz y oportuna, la asistencia, apoyo técnico y administrativo a la gestión de las Direcciones de RED de Salud y de los Hospitales, bajo su dependencia y jurisdicción.
                                        5:Cumplir y hacer cumplir los procesos organizacionales establecidos a las entidades públicas y privadas del Sector Salud, que debe supervisar, evaluar y controlar en su jurisdicción.
                                        6:Lograr la oportuna regulación, supervisión, inspección y control del cumplimiento de las normas y procedimientos, por las personas jurídicas y naturales, en la promoción de la salud, la prevención de riesgos
                                         y daños, la atención de la salud de las personas, la salud ambiental, el control sanitario de la producción, comercialización, dispensación y expendio de medicinas insumos y drogas y la participación en la prevención y control de emergencias y  desastres.
                                        7:Dirigir y ejecutar los procesos de protección, recuperación y rehabilitación de la  salud de la población, a través de los Hospitales y Entidades Públicas y Privadas del Sector Salud en su jurisdicción.
                                        5:Proteger la vida y salud de todos los niños por nacer desde su concepción y registrarlos oficialmente como concebidos y sujetos de los derechos constitucionales.
                                        6:Promover la salud y prevenir los riesgos y daños a la salud de la población en el marco de los objetivos a largo plazo de Perú Vida 2012 y de los Lineamientos de Política Sectorial para el período 2002-2012.
                                        8:Lograr que se capacite a las madres y familias en la estimulación prenatal, la adecuada nutrición materna y la preparación para el parto con participación paterna.
                                        9:Establecer el control prenatal y el acceso al parto institucional de todas las mujeres gestantes por las entidades competentes.
                                        Lograr que se las personas, familias y comunidades adopten hábitos saludables y  desarrollen entornos saludables.
                                        Implementar y cautelar el desarrollo de estrategias de Promoción de la Salud y contribuir a la construcción de una cultura de salud basada en la familia como unida básica de salud.
                                        Lograr  que se capaciten a las familias para que ejerciten los hábitos de higiene,  la estimulación temprana de los niños, la maternidad y paternidad responsable y el desarrollo en los jóvenes de las habilidades psicosociales para una vida digna y sana, en el marco de una cultura de vida y paz.
                                        Lograr que en la familia, escuela y comunidad, se eduque a la persona, con el fin  de erradicar el consumo de drogas, tabaco y alcohol, que afecta la salud física y mental de la persona, familia y comunidad, así como sobre los medicamentos, sus riesgos y su uso apropiado.
                                        Lograr  que se incremente la actividad física, la práctica del deporte, las prácticas adecuadas de alimentación y la detección precoz, para la prevención de las enfermedades no transmisibles.
                                        Lograr que las familias, escuelas y comunidades integren en sus actividades la prevención de accidentes, emergencias y desastres, acordes a la situación geográfica y riesgos climatológicos.
                                        Lograr la inmunización de todas las personas contra las enfermedades transmisibles.
                                        Reducir el impacto de las emergencias y desastres sobre la salud de la población,  el ambiente y los servicios de salud y proteger, recuperar y mantener oportunamente la salud de las personas y poblaciones afectadas.
                                        Lograr el apoyo y coordinación intersectorial a nivel regional para la salud de la población asignada.
                                        Supervisar  la disponibilidad, equidad, calidad, eficacia, eficiencia, productividad,  economía y otros indicadores requeridos en las prestaciones de salud de  todas las entidades públicas y privadas en su jurisdicción.
                                        Ejecutar  la habilitación, categorización y acreditación de las entidades y servicios públicos y privados de salud, en coordinación con la Dirección General de Salud de Personas y en cumplimiento a las normas pertinentes
                                        Lograr que las entidades y organizaciones públicas y privadas y las personas naturales, que desarrollen actividades afines para el Sector Salud, se mantengan informadas y den cumplimiento a los dispositivos legales para la  Salud.
                                        Lograr que toda la población cuente con información confiable, auténtica, veraz y  oportuna sobre las enfermedades en la Región, así como de las medidas  preventivas o de detección precoz.
                                    </p>
                </div>
                <div class="col-sm-3">
                    <h1>campañas</h1>



                    <div class="card-body">
                            <h4 class="card-title">Noticias</h4>
                            <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/nt.jpg" alt="Chicago">
        
                            <p class="card-text">diresa-puno. Equipo de diresa-puno se reunio para ayudar...</p>
                            <a href="#" class="card-link">revisar la noticia</a>
                            <a href="#" class="card-link">ver mas noticias </a>
                          </div>
                          <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Las recorridas</h4>
                                  <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/nt1.jpg" alt="Chicago">
                      
                                  <p class="card-text">
                                    Lorem ipsum dolor sit 
                                    amet consectetur adipisicing elit. 
                                    Aperiam dolor
                                    </p>
                                  <a href="#" class="card-link">revisar la noticia</a>
                                  <a href="#" class="card-link">ver mas noticias</a>
                                </div>
                              </div>
                    <div class="row"><div class="col box-right"><div class="box-right-h"><p>Campaña</p></div><div class="box-right-b"><div class="mv-r"><iframe style="border: none; overflow: hidden;" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fdiresapuno.gob.pe%2Fvideos%2F214471082492841%2F&amp;show_text=0&amp;width=560" width="560" height="315" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe></div></div></div><div class="col box-cont"><p><a href="/documentos/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/ico_pg01.png" alt="" /></a></p>
                        <p><a href="http://www.sanciones.gob.pe:8081/transparencia/"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/300X50-TRASPA.png" alt="" /></a></p>
                        <p class="ta-c"><a href="http://diresapuno.gob.pe:2095/"><img class="img-r" src="/web/uploads/descarga.jpg" alt="" /></a></p>
                        <p><a href="/noticias/comunicados/convocatorias-cronograma-proceso-serums-2018-1-diresa-puno.html"><img class="img-r" style="display: block; margin-left: auto; margin-right: auto;" src="/web/uploads/SERUMS.png" alt="" /></a></p></div><div class="col box-right"><div class="box-right-h"><p>Redes Sociales</p></div><div class="box-right-b"><div class="fb-page" data-href="https://www.facebook.com/diresapuno.gob.pe/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/diresapuno.gob.pe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/diresapuno.gob.pe/">DIRESA PUNO</a></blockquote></div><div id="fb-root"></div>

                        </div>
                        
                </div>
              </div>
 </div>




</div>