
<hr>
<br>
<div class="container">
    
        <div class="row">
                <div class="col">
                        <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/v.jpg" alt="Chicago">

                </div>
                <div class="col">
                        <img style="width:300px; height:100pxo;"class="img-fluid" src="../../assets/mi.jpg" alt="Chicago">

                </div>
                <div class="col">
                        <img style="width:300px; height:100px;"class="img-fluid" src="../../assets/m.jpg" alt="Chicago">

                </div>
<div  class="media border p-3">
        <img src="../../assets/Mision.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div style="background-color:#FEF5E7" class="media-body">
          <h4> mision  <small><i>Posted on February 19, 2016</i></small></h4>
          <p>"Somos una organización de salud con competencias y cultura de valores 
                que garantiza la Atención Integral de Salud con
                 Eficiencia y Eficacia en respuesta a las necesidades de la población, para mejorar el nivel de salud con participación activa de los actores sociales".</p>
                   <hr>
                 <div class="media p-3">
            <img src="../../assets/Vision.jpg" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
            <div  style="background-color:#D4E6F1"class="media-body">
              <h4> Visión <small><i>Posted on February 20 2016</i></small></h4>
              <p>"Ser una organización de salud líder a nivel sur del país, en el desarrollo integral de 
                    la Población, con una gestión sanitaria con: equidad, calidad,
                    nsparente, eficacia, con un potencial humano identificado en el que hacer sanitario".</p>
            </div>
          </div>  
        </div>
      </div>
</div>
